body {
  margin: 0;
  margin-top: 50px;
  height: unset;
  font-family: 'Poppins';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a.rf-logo {
  font-size: 24px;
  color: #293742;
}
.bp3-dark a.rf-logo { color: #f5f8fa; }
a.rf-logo:hover {
  color: #48aff0;
}

.rf-page-container {
  width: 100%;
  padding: 18px 16px;
  background-size: 100%;
}
.rf-page-title {
  font-size: 40px;
  font-weight: bold;
  background: rgba(0,0,0, .60);
  padding: 12px;
}
.rf-page-section {
  background: rgba(0,0,0, .20);
  padding: 12px;
}

.rf-search-title {
  font-size: 40px;
  font-weight: bold;
  background: rgba(0,0,0, .60);
  padding: 12px;
}
.rf-search-footer {
  background: rgba(0,0,0, .60);
  padding: 12px;
}
.rf-search-result-container {
  position: relative;
  display: block;
  width: 200px;
  height: 296px;
  margin-bottom: 20px;
  cursor: pointer;
}
.rf-search-result-container:not(:last-child) {
  margin-right: 20px;
}
.rf-search-result-container:hover {
  box-shadow: 3px 3px 7px black;
}
.rf-search-result-container:hover > .rf-search-result-overlay {
  opacity: 1;
}
.rf-search-result-container:hover > .rf-search-result-tick {
  opacity: .80;
}
.rf-search-result-container > .ant-image {
  width: 100%;
  height: 100%;
}
.rf-search-result-image {
  width: 100%;
  height: 100%;
}
.rf-search-result-tick {
  position: absolute;
  top: calc(50% - 40px);
  left: calc(50% - 40px);
  color: seagreen;
  font-size: 35px;
  opacity: .30;
  transition: opacity 140ms;
}
.rf-search-result-overlay {
  position: absolute;
  width: calc(100%);
  padding: 6px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  background: rgba(0,0,0, .75);
  font-weight: bold;
  opacity: 0;
  transition: opacity 140ms;
  cursor: default;
}
.rf-search-result-overlay-top {
  top: 0;
}
.rf-search-result-overlay-bottom {
  bottom: 0;
  text-align: center;
}
.rf-search-pagination-container {
  text-align: center;
}
.rf-search-pagination-container button {
  margin: 0 8px;
}

.rf-movie-container {
  color: white;
}
.rf-movie-container > .ant-row {
  margin-bottom: 16px;
}
.rf-movie-poster-container {
  width: 260px;
}
.rf-movie-poster {
  width: 100%;
}
.rf-movie-title {
  font-size: 40px;
  font-weight: bold;
  padding-right: 16px;
  position: relative;
  background: rgba(0,0,0, .60);
  padding: 12px;
}
.rf-movie-title-year {
  margin-left: 18px;
  font-size: 16px;
  background: rgba(10,10,10, .90);
  border-radius: 3px;
  padding: 4px 8px;
  position: relative;
  top: -10px;  
}
.rf-movie-title-subtitle {
  font-size: 18px;
}
.rf-movie-imdb-logo {
  height: 24px;
  position: absolute;
  top: 14px;
  right: 12px;
  cursor: pointer;
}
.rf-movie-rating-container {
  background: rgba(0,0,0, .70);
  padding: 12px;
}
.rf-movie-rating-title {
  margin-right: 16px;
  font-weight: bold;
  font-size: 16px;
}
.rf-movie-rating-container textarea {
  background: rgba(0,0,0, .70);
  color: white;
}
.rf-movie-details-container {
  background: rgba(0,0,0, .70);
  padding: 12px;
}
.rf-movie-details-container .ant-row {
  margin: 12px 0;
}
.rf-movie-details-plot {
  margin-bottom: 16px;
}
.rf-movie-details-header {
  font-weight: bold;
  font-size: 16px;
}
.rf-movie-details-data {
  margin-bottom: 16px;
}
.rf-movie-details-pc-logo {
  max-height: 40px;
  -webkit-filter: drop-shadow(5px 5px 5px #fff);
  filter: drop-shadow(2px 2px 2px #fff);
}
.rf-movie-cast-container {
  background: rgba(0,0,0, .60);
  padding: 12px;
}
.rf-movie-cast {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  margin-right: 16px;
  margin-bottom: 16px;
  width: 110px;
  height: 140px;
}
.rf-movie-cast-image-container {
  display: inline-block;
  border-radius: 50%;
  width: 90px;
  height: 100px;
  overflow: hidden;
}
.rf-movie-cast-image {
  display: inline-block;
  width: 90px;
  height: 120px;
  position: relative;
  top: -4;
}
.rf-myratings-filters {
  display: flex;
}
.rf-myratings-filters > div:not(:first-child) {
  margin-left: 8px;
}
.rf-myratings-filter-title {
  font-size: 11px;
}
.rf-myratings-filter-data {
  font-size: 16px;
}
.rf-myratings-list {
  width: 100%;
}
.rf-myratings-list > thead, .rf-myratings-list > tfoot {
  background: rgba(0,0,0,0.1);
}
.rf-myratings-list > thead > tr > th:nth-child(2) { width: 100%; }
.rf-myratings-list > tbody > tr:not(:first-child) {
  border-top: 1px solid rgba(0,0,0,0.2);
}
.rf-myratings-list > tbody > tr > td {
  vertical-align: top;
}
.rf-myratings-list td, .rf-myratings-list th { 
  padding: 4px 8px;
  white-space: nowrap;
}
.rf-myratings-pagination-button:not(:last-child) {
  margin-right: 8px;
}

.rfh-inline {
  display: inline;
}

.dropdown-toggle::after {
  display: none !important;
}
.dropdown-toggle {
  font-size: 22px;
  color: #c1c1c1;
}
.dropdown-toggle:hover {
  color: white;
}

  /* Helpers */
.ta-l { text-align: left; }
.ta-c { text-align: center; }
.ta-r { text-align: right; }
.f-l { float: left; }
.f-r { float: right; }
.m { margin: 8px; }
.mt { margin-top: 8px; }
.mr { margin-right: 8px; }
.mb { margin-bottom: 8px; }
.ml { margin-left: 8px; }
.m-lg { margin: 16px; }
.mt-lg { margin-top: 16px; }
.mr-lg { margin-right: 16px; }
.mb-lg { margin-bottom: 16px; }
.ml-lg { margin-left: 16px; }

  /* BlueprintJS Mods */
.bp3-dark {
  background: #293742;
}
.bp3-dark h1,
.bp3-dark h2,
.bp3-dark h3,
.bp3-dark h4,
.bp3-dark h5,
.bp3-dark h6 {
  color: #f5f8fa;
}

  /* Ant Design Mods */
.ant-row:not(:last-child) { margin-bottom: 16px; }
.ant-row.gaped > .ant-col:not(:last-child) { margin-right: 16px; }